* {
    margin: 0;
    padding: 0;
}
body{
    background: #fff;
}
.main-container{
    padding: 5px;
    height: 98vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw;
    grid-template-rows: 14vh 14vh 14vh 14vh 14vh 14vh 14vh;
    justify-content: space-evenly;
    align-content: space-between;
}
a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: large;

    margin: 0% 1%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
a:hover{
    cursor: initial;
}